/* Universal Styles */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    margin: 0;
    background-color: #EAE7E7; 
    font-size: 1.25em; 
    font-family: kinesis-pro-3, serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
  }

h1, h2, h3, h4 {
  font-family: sofia-pro, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

a {
  text-decoration: none;
}
  
nav a {
    color: #FFF3EB;
    font-family: sofia-pro, sans-serif;
  }
  
  /* Header Section */
  
header {
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 80px;
    background-color: black;
    align-items: center;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
#logo {
  float: left;
  height: 50px;
  width: 100px;
  margin-top: 15px;
}

nav .close {
  display: none;
}

#header-right {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
  
header nav {
    text-align: right;
    flex-grow: 1;
  }
  
header nav span {
    display: inline-block;
    padding: 20px 10px;
  }

#menu-responsive {
  display: none;
  height: 25px;
  width: 25px;
}

.header-right {
  display: inline-block;
}

/* Main Section */

main {
  width: 100%;
}

/* Hero Section */
  
.hero {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 4%;
    box-shadow: 0px 1px 40px rgb(19, 20, 23, 0.25);
}

.hero img {
    position: relative;
    width: 100%;
    height: 800px;
    opacity: 0.5;
}

.cta {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    height: auto;
    width: 100%;
    border-radius: 20px;
  }

.cta p {
    font-size: 1em;
    width: 60%;
    text-align: center;
    /* margin-bottom: 15%; */
}

.cta a {
    background-color: #33241D;
    color: #FFF3EB;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

.cta a:hover {
    background-color: #6D4B30
} 

  /* Our Story Section */

#our-story {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#our-story h2 {
  margin-top: 0;
  text-align: center;
}

#our-story video {
  margin-top: 2.5%;
}

/* Featured Coffee Section */

#featured-coffee {
  max-width: 100%;
}

.featured-title {
  background-color: #E8D6BF;
  margin: 0;
}

.featured-title h2 {
  margin: 0;
  padding: 30px;
}

.featured-title h4 {
  margin: 0;
  padding-bottom: 30px;
}

.coffee-parallax1, .coffee-parallax2, .coffee-parallax3, .featured-parallax {
  position: relative;
  opacity: 0.35;
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.featured-parallax {
  background-image: url('../assets/images/red-and-yellow-coffee-berries-on-branch-1556665.jpg');
}


.coffee-parallax1 {
  background-image: url('../assets/images/Indonesia-banner.jpg');
}

.coffee-parallax2 {
  background-image: url('../assets/images/gregory-hayes-Jmc0PORTQ-A-unsplash.jpg');
}

.coffee-parallax3 {
  background-image: url(../assets/images/nathan-dumlao-pMW4jzELQCw-unsplash.jpg);
}

.coffee {
  width: 100%;
  height: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.coffee-description {
  width: 100%;
}

.coffee-description p {
  text-align: left;
}

.coffee img {
  max-width: 50%;
  height: 350px;
}


.coffee-description ul {
  padding: 0;
}

.coffee-description li {
  list-style: none;
}

#first {
  background-color: #E8D6BF;
}

#second {
  background-color: #DDCFB8; 
}

#third {
  background-color: #CCC0AD;
}

li {
  list-style: none;
}

/* Registration Form Section */

form {
  display: flex;
  justify-content: center;
}

form section {
  margin: auto 5px;
}

.registration-form {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.registration-form p {
  padding-left: 10%;
  padding-right: 10%;
}

input {
  padding: 5px;
  border-radius: 10px;
  border-style: none;
}

#submit {
  background-color: #33241D;
  color: #FFF3EB;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#submit:hover {
  background-color: #6D4B30
}

/* Location Form Section */

.container-locations {
  display: flex;
  width: 100%;
}

.location {
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
}

.location img {
  position: relative;
  width: 500px;
  height: 300px;
  max-width: 100%;;
  max-height: 100%;
  opacity: 0.65;
  flex-shrink: 1;
}

.location img:hover {
  opacity: 1;
}

#second-loc img {
  flex-shrink: 2;
}

.loc-name {
  position: absolute;
  z-index: 1;
  font-weight: bold;
  align-self: center;
  font-size: 1.5em;
}

.loc-name a {
  color: #ffffff;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.background-image {
  filter: blur(8px);
  margin: 0 auto;
  z-index: 9;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  max-height: 100%;
  transition: all 5s ease-in-out;
}

.popup {
  z-index: 10;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  position: absolute;
  transition: all 5s ease-in-out;
}


.popup h4 {
  text-align: center;
}


.popup h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.loc-details {
  padding: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 100%;
  text-align: center;
}

.loc-details p {
  line-height: 10px;
}

.loc-details section {
  width: 50%;
}

.facility-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.facility-icons img {
  width: 40px;
  height: 40px;
  margin: 0 25px;
}

.facility-icons p {
  font-size: 0.75em;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #FF0000;
  opacity: 0.5;
}

.popup .close:hover {
  opacity: 1;
}
  
/* Footer Section */
  
footer {
  text-align: left;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  bottom: 0;
  padding: 20px 40px;
 }

 footer h4  {
  text-align: left;
 }

 footer h5  {
  font-size: 1em;
  font-weight: bold;
 }

 .footer-content {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }

 #nav-bar-footer {
   display: flex;
   flex-direction: column;
 }

 #contact {
  line-height: 5px;
 }
 
 .icons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-column-gap: 10px;
 } 

 .btn {
  font-size: 25px;
  color: #ffffff;
 }
